.screen {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    background-color: aliceblue;
    overflow: hidden;
    background-size: cover;
    background-image: url(../images/ipod.png);
}

img {
    display: absolute;
    width: 296px;
    height: 296px;
}